<!DOCTYPE HTML>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport"
          content="width=device-width, initial-scale=0.4, minimum-scale=0.05, maximum-scale=3">
    <title>ytBackgammon</title>
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/ytbg.css">
    <script type="module" src="/static/js/main.js"></script>
  </head>
  <body style="background-image:url(/static/{{image_dir}}/bg.png);"
        data-image-dir="{{image_dir}}" data-server-id="{{server_id}}">
    <header>
      <div id="nav-drawer" style="display:inline-block;">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input">
          <span></span></label>
        <div id="nav-content">
          <div id="nav-title">メニュー</div>
          <ul id="nav">
            <li><a href="#" id="menu-inverse">ボード回転</a>
          </ul>
          <ul id="nav">
            <li><a href="#" id="menu-back">1つ戻す</a>
            <li><a href="#" id="menu-back2">連続で戻す</a>
            <li><a href="#" id="menu-back-all">連続で戻す(高速)</a>
          </ul>
          <ul id="nav">
            <li><a href="#" id="menu-fwd">1つ進める</a>
            <li><a href="#" id="menu-fwd2">連続で進める</a>
            <li><a href="#" id="menu-fwd-all">連続で進める(高速)</a>
          </ul>
          <ul id="nav">
            <li><a href="#" id="menu-clear-hist">履歴を削除</a>
          </ul>
          <ul id="nav">
            <li><a href="#" id="menu-new-game">New Game</a>
          </ul>
        </div>
      </div>
      &nbsp;
      <strong>{{ name }} v. {{ version }}</strong>
      &nbsp;
      <label class="headerinput" for="sound-switch">Sound</label>
      <input class="checkbox" id="sound-switch" type="checkbox" checked>
      &nbsp;
      <label class="headerinput" for="free-move">Free</label>
      <input class="checkbox" id="free-move" type="checkbox">
      &nbsp;
      <label class="headerinput" for="disp-pip">Pip</label>
      <input class="checkbox" id="disp-pip" type="checkbox">
      &nbsp;
      <label class="headerinput" for="clock_sw">Clock</label>
      <input class="checkbox" id="clock_sw" type="checkbox" checked>
      <input class="headerinput" id="clock_limit0" type="number" value="2"
             min="0.5"  step="0.5" style="width:55px">
      <label class="headerinput" for="clock_limit0">m +</label>

      <input class="headerinput" id="clock_limit1" type="number" value="12"
             min="1" step="1" style="width:55px">
      <label class="headerinput" for="clock_limit1">s</label>
    </header>

    <!-- 中身は js/dom.js が作る (TODO-029) -->
    <div id="board"></div>
  </body>
</html>
