* {
    margin: 0;
}

body {
}

div, span {
    position: absolute;
    cursor: default;
    user-select: none;
}

.bordertext {
    font-size: 19px;
    font-weight: bold;
    white-space: nowrap;
}

.checkbox {
    transform: scale(1.6);
}

.headerinput {
    font-size: 22px;
    font-weight: bold;
}

/*******/

header {
  padding:10px;
  background: #DDD;
}

#nav-drawer {
  position: relative;
}

.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 40px;
  height: 30px;
  vertical-align: middle;
}

/*ハンバーガーアイコン*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 6px;
  width: 40px;
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -12px;
}
#nav-open span:after {
  bottom: -24px;
}

#nav-close span, #nav-close span:before, #nav-close span:after {
  position: absolute;
  height: 0px;
  width: 25px;
  border-radius: 3px;
  background: #DDD;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-close span:before {
    bottom: -16px;
    height: 5px;
    transform-origin: center;
    transform: rotate(45deg);
}
#nav-close span:after {
    bottom: -16px;
    height: 5px;
    transform-origin: center;
    transform: rotate(-45deg);
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
  margin-left: 220px;
  color: white;
  font-size: 22px;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%; /*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 220px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

#nav-title {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    background-color: #8BF;
    color: #333;
}

#nav {
    list-style: none;
    padding-inline-start: 15px;
    text-align: left;
    background-color: #DDD;

    border-top: 1px solid;
    border-bottom: 1px solid;
}

#nav li {
/*    width: 140px; */
    font-size: 22px;
    font-weight: bold;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: -1px;
    margin-bottom: -1px;
    padding-top: 12px;
    padding-bottom: 10px;
}

#nav li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
}

#nav li input {
    display: none;
}

#nav li label {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
}
