<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=0.1, maximum-scale=3">
    <title>ytBackgammon (alpha)</title>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js">
    </script>
    <script type="text/javascript" src="/static/ytbg.js?p=(new Date()).getTime();"></script>
    <link rel="stylesheet" type="text/css" href="/static/ytbg.css?p=(new Date()).getTime();">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <body>
    <div id="buttons">
      <div id="button-undo"><image src="/static/images/button-bak.png"></div>
      <div id="button-inverse"><image
                                 src="/static/images/button-inverse.png"></div>
      <div id="button-redo"><image src="/static/images/button-fwd.png"></div>
    </div>
    <div id="board"><image src="/static/images/board-base.png">
        <div class="onboardtext"
             id="p0text"><image src="/static/images/checker-White.png"></div>
        <div class="onboardtext"
             id="p1text"><image src="/static/images/checker-Red.png"></div>
        
        <div id="p000"><image src="/static/images/checker-White.png"></div>
        <div id="p001"><image src="/static/images/checker-White.png"></div>
        <div id="p002"><image src="/static/images/checker-White.png"></div>
        <div id="p003"><image src="/static/images/checker-White.png"></div>
        <div id="p004"><image src="/static/images/checker-White.png"></div>
        <div id="p005"><image src="/static/images/checker-White.png"></div>
        <div id="p006"><image src="/static/images/checker-White.png"></div>
        <div id="p007"><image src="/static/images/checker-White.png"></div>
        <div id="p008"><image src="/static/images/checker-White.png"></div>
        <div id="p009"><image src="/static/images/checker-White.png"></div>
        <div id="p010"><image src="/static/images/checker-White.png"></div>
        <div id="p011"><image src="/static/images/checker-White.png"></div>
        <div id="p012"><image src="/static/images/checker-White.png"></div>
        <div id="p013"><image src="/static/images/checker-White.png"></div>
        <div id="p014"><image src="/static/images/checker-White.png"></div>

        <div id="p100"><image src="/static/images/checker-Red.png"></div>
        <div id="p101"><image src="/static/images/checker-Red.png"></div>
        <div id="p102"><image src="/static/images/checker-Red.png"></div>
        <div id="p103"><image src="/static/images/checker-Red.png"></div>
        <div id="p104"><image src="/static/images/checker-Red.png"></div>
        <div id="p105"><image src="/static/images/checker-Red.png"></div>
        <div id="p106"><image src="/static/images/checker-Red.png"></div>
        <div id="p107"><image src="/static/images/checker-Red.png"></div>
        <div id="p108"><image src="/static/images/checker-Red.png"></div>
        <div id="p109"><image src="/static/images/checker-Red.png"></div>
        <div id="p110"><image src="/static/images/checker-Red.png"></div>
        <div id="p111"><image src="/static/images/checker-Red.png"></div>
        <div id="p112"><image src="/static/images/checker-Red.png"></div>
        <div id="p113"><image src="/static/images/checker-Red.png"></div>
        <div id="p114"><image src="/static/images/checker-Red.png"></div>

        <div id="cube"><image src="/static/images/cube01.png"></div>

        <div id="dice00"><image src="/static/images/dice-White-1.png"></div>
        <div id="dice01"><image src="/static/images/dice-White-1.png"></div>
        <div id="dice02"><image src="/static/images/dice-White-1.png"></div>
        <div id="dice03"><image src="/static/images/dice-White-1.png"></div>

        <div id="dice10"><image src="/static/images/dice-Red-1.png"></div>
        <div id="dice11"><image src="/static/images/dice-Red-1.png"></div>
        <div id="dice12"><image src="/static/images/dice-Red-1.png"></div>
        <div id="dice13"><image src="/static/images/dice-Red-1.png"></div>
    </div>
    <div style="display:table;width:100%;height:10px">
      <div id="name" style="display:table-cell;">
        &nbsp;&nbsp;
        <i style="font-size:40px;color:#FFF;vertical-align:middle;"
           class="fas fa-bars" onClick="back_all();"></i>
        &nbsp;&nbsp;
        <strong>{{ name }}, Version {{ version }}</strong>&nbsp;/&nbsp;
        <strong id="version">Version Number</strong>
      </div>
    </div>
  </body>
</html>
