<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=0.25, maximum-scale=3">
    <link rel="stylesheet" type="text/css" href="/static/menu.css">
    <title>{{ name }} - Version {{ version }}</title>
  </head>
  <body style="background-color:#AAA;">
    <h1 style="color:#FFF;">{{ name }} (Version {{ version }})</h1>
    <div>
      <h3>バージョンアップしてるかも知れないので、
        <strong>このページをリロード</strong>してから、
        どちらか選んでください。</h3>
      <blockquote>
        <a href="/{{ version }}p1"><image src="/static/images/checker0.png">
            (反時計回り)</a>
        <a href="/{{ version }}p2"><image src="/static/images/checker1.png">
            (時計回り)</a>
      </blockquote>
    </div>
  </body>
</html>
