<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=0.25, maximum-scale=3">
    <title>{{ name }} - Version {{ version }}</title>
  </head>
  <body style="background-color:#BBB;">
    <div>
      <h1 style="color:#FFF;">{{ name }} (Version {{ version }})</h1>
      <div>
        どちらか選んでください。
        <blockquote>
          <a href="/p1"><image src="/static/images/checker-White.png"></a>
          <a href="/p2"><image src="/static/images/checker-Red.png"></a>
        </blockquote>
      </div>
    </div>
  </body>
</html>
